<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href= "{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>Speech2Text</title>
  </head>
  <body>
  <h1>Speech2Text</h1>

    <h2>Welcome</h2>

    {% if error %}
    <p style="color:#f4f4f4; text-align: center">{{error}}</p>
    {% endif %}


    {% if filename %}
    <p style="color:#f4f4f4; text-align: center; font-size:18px">Your file: {{filename}} has been uploaded.</p>

    {% else %}
    <div class="container">
          <form action="/" enctype="multipart/form-data" method="POST">
               <p><input class="btn-link" type="file" name="file"></p>
                <p><input class="btn-link" type="submit" value="Upload Audio File"></p>
          </form>
    {% endif %}}
    </div>
    <div class="outputContainer">
      <p class="Textresult">heloo</p>
    </div>
  </body>
</html>